{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "no-unused-vars": "off", // turn off for how app scripts work
    "no-undef": "off", // turn off for how app scripts work
    "indent": [
      "warn",
      2,
      {
        "ignoredNodes": ["TemplateLiteral"]
      }
    ],
    "linebreak-style": ["warn", "unix"],
    "quotes": ["warn", "single"],
    "semi": ["warn", "never"],
    "no-console": [
      "warn",
      {
        "allow": ["error"]
      }
    ],
    "max-len": [
      1,
      {
        "code": 120,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "array-bracket-spacing": "warn",
    "block-spacing": "warn",
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": "warn",
    "comma-spacing": "warn",
    "computed-property-spacing": ["warn", "never"],
    "func-call-spacing": ["warn", "never"],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["warn", { "before": true, "after": true }],
    "no-tabs": "warn",
    "no-trailing-spaces": "warn",
    "no-whitespace-before-property": "warn",
    "object-curly-spacing": ["warn", "always"],
    "space-before-blocks": "warn",
    "space-before-function-paren": ["warn", "never"],
    "space-in-parens": ["warn", "never"],
    "space-infix-ops": "warn"
  }
}
