h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.input__wrap {
  position: relative;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  width: 480px;
}

label {
  position: absolute;
  top: -24px;
  left: 4px;
  font-weight: bold;
  font-size: 14px;
}

input,
textarea {
  border: unset;
  border-radius: 6px;
  height: 24px;
  width: calc(100% - 16px);
  padding: 8px;
}

button {
  padding: 8px;
  margin: 0;
  border: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:hover {
  background-color: rgba(12, 12, 12, 0.2);
  box-shadow: 0 0 2px #12121212;
}

button.disabled:hover {
  box-shadow: none;
  background-color: transparent;
  cursor: default;
}

.invalid {
  border-color: red;
}

.app__container {
  padding: 6px;
  overflow: hidden;
}

.branding__wrap {
  position: sticky;
  left: 100%;
}

.branding__content {
  position: relative;
  top: 21px;
  left: -11px;
  z-index: 1;
  display: block;
  width: 160px;
  padding: 9px 0 6px;
  background-image: linear-gradient(0deg, #800031, red);
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0/20%);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  pointer-events: auto;
  transition: all 0.1s ease-in;
  transform: rotate(45deg);
}

.powered__by {
  color: white;
  white-space: pre;
  text-align: center;
  font-size: 8px;
  min-height: 9px;
  min-width: 49px;
}

.company {
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.branding {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1;
  overflow: hidden;
  width: 105px;
  height: 105px;
  text-decoration: none;
  pointer-events: none;
  transition: all 0.1s ease-in;
  will-change: transform;
}

.branding::before {
  top: 0;
  left: 0;
}

.branding::after {
  bottom: 0;
  right: 0;
}

.branding::after,
.branding::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #800031;
  transition: all 0.1s ease-in;
}

.branding:hover {
  transform: scale(1.04);
}

.branding:hover::after,
.branding:hover::before {
  width: 7px;
  height: 7px;
  background-color: #530020;
}

.schedule__container {
  box-shadow: 0 0 4px -1px black;
  display: flex;
  border-radius: 8px;
}

.meeting__info {
  border-right: 1px solid lightgray;
  max-width: 273px;
}

.info__block {
  display: flex;
  flex-direction: column;
  padding: 16px;
  row-gap: 16px;
}

.info__section {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.info {
  color: grey;
  font-size: 14px;
}

.logo {
  display: flex;
  justify-content: center;
  max-height: 105px;
  padding: 32px;
  border-bottom: 1px solid lightgray;
}

.selection__container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: fit-content;
}

.datetime__wrap {
  display: flex;
  flex-direction: column;
}

.calendar__title {
  font-size: 20px;
}

.calendar__title::before {
  content: 'Select Date and Time';
}

.calendar__wrap {
  display: flex;
  background: white;
  width: min-content;
  min-width: 320px;
  margin-top: 32px;
}

.calendar__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: inherit;
  width: 336px;
  min-width: 320px;
}

.time__container {
  width: 100%;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-width 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms ease-in 400ms;
}

.time__container.enabled {
  margin: 32px -24px 0 0;
  padding: 0 24px 0 16px;
  max-width: 200px;
  opacity: 1;
}

.time__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 0 24px 0 0;
  width: 100%;
  height: 100%;
  max-height: 283px;
  overflow: hidden auto;
}

.time__button-wrap {
  display: flex;
  column-gap: 4px;
  min-width: 200px;
}

.time__button-wrap.empty {
  height: 100%;
  text-align: center;
  align-items: center;
}

.time__button-confirm {
  width: 100px;
  border-color: red;
  background-image: linear-gradient(0deg, #800031, red);
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.time__button-option {
  min-width: 200px;
  min-height: 32px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #800031;
  color: #800031;
  font-weight: bold;
  transition: min-width 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms ease-in 400ms;
}

.time__button-option:hover {
  background-color: #8000311a;
  border-color: red;
}

.time__button-option.selected {
  min-width: 100px;
  border-color: unset;
  box-shadow: unset;
  background: #5e5e5eab;
}

.month {
  padding: 24px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__icon {
  transform: rotate(180deg);
}

.disabled > .left__icon {
  fill: lightgray;
}

.weekdays,
.week {
  display: flex;
  height: 32px;
}

.weekdays {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.calendar__weekdays {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.weekday,
.day {
  flex: 1;
  width: 32px;
}

.weekday {
  font-weight: bold;
  text-transform: uppercase;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.day__btn {
  padding: 0;
  height: 32px;
  width: 32px;
  color: rgb(61, 61, 61);
  font-weight: bold;
}

.today {
  bottom: 4px;
  height: 5px;
  width: 5px;
  background-image: linear-gradient(0deg, #800031, red);
  border-radius: 50%;
  position: absolute;
}

.selected {
  background-image: linear-gradient(0deg, #800031, red);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  color: white;
}

.day__btn:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
}

.day.disabled > .day__btn,
.day.disabled:hover > .day__btn {
  color: slategray;
  font-weight: normal;
  background: none;
  box-shadow: none;
  cursor: default;
}

.week__skeleton {
  justify-content: space-around;
}

div.day__skeleton {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.details__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  width: 576px;
  min-height: 340px;
  margin-right: -24px;
}

.details__container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

#question0 {
  resize: vertical;
}

.schedule__event {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(0deg, #800031, red);
  height: 48px;
  border-radius: 24px;
  color: white;
  width: 160px;
}

.schedule__event.disabled {
  background: gray;
}

.schedule__event.disabled:hover {
  background: gray;
}

.host__wrap {
  display: flex;
  column-gap: 16px;
}

img.host__photo {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.host__photo {
  border: 1px solid lightgray;
}

.host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 4px;
}

.host__name {
  min-height: 18px;
  color: gray;
}

.host__title {
  color: gray;
  min-height: 16px;
}

.meetingDuration__wrap {
  display: flex;
  flex-direction: column;
  column-gap: 16px;
  row-gap: 8px;
}

.meeting__type {
  min-height: 28px;
}

.meeting__duration {
  width: 48px;
  min-height: 16px;
}

.back__button {
  position: absolute;
  top: 16px;
  left: 16px;
  box-shadow: 0 0 4px #9d9d9d;
}

.event__scheduled {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 536px;
  height: 100%;
  justify-content: center;
  margin-right: -24px;
}

.meeting__booked {
  padding: 24px;
  text-align: center;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
}

.spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #800031;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s ease-in-out infinite;
}

.skeleton {
  display: block;
  background-color: rgba(0, 0, 0, 0.13);
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  transform-origin: 0px 55%;
  position: relative;
  border-radius: 4px / 8px;
  overflow: hidden;
}

.skeleton::before {
  content: ' ';
}

.skeleton::after {
  animation: 1.6s linear 0.5s infinite normal none running skeleton-pulse;
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1), transparent);
  content: '';
  position: absolute;
  transform: translateX(-100%);
  inset: 0px;
}

.loading {
  top: -1px;
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 2px;
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.loading div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading div:nth-child(3) {
  animation-delay: -0.15s;
}

.checkmark svg {
  width: 144px;
  display: block;
}

.checkmark .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.checkmark .path.circle {
  animation: dash 1.2s ease-in-out;
}
.checkmark .path.check {
  stroke-dashoffset: -100;
  animation: dash-check 1.2s 0.8s ease-in forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes skeleton-pulse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* Styles for tablets */
@media (min-width: 615px) and (max-width: 991px) {
  .schedule__container {
    flex-direction: column;
  }

  .meeting__info {
    border: unset;
    max-width: unset;
  }

  .logo {
    padding: 0;
  }

  .info__block {
    border-bottom: 1px solid lightgray;
    row-gap: 8px;
  }

  .host__photo,
  .host__title {
    display: none;
  }

  .host__name,
  .meeting__type {
    text-align: center;
  }

  .meetingDuration__wrap {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .info__section {
    justify-content: center;
  }

  .calendar__title {
    text-align: right;
    max-width: 364px;
  }

  .calendar__wrap {
    margin-top: 0;
  }

  .calendar__container {
    width: 364px;
  }

  .selection__container {
    align-self: center;
  }

  .details__wrap {
    width: 604px;
  }
}

/* Styles for phones */
@media (max-width: 614px) {
  .back__button {
    height: 48px;
    width: 48px;
  }

  .app__container {
    width: 100vw;
    padding: 0;
  }

  .schedule__container {
    flex-direction: column;
    border-radius: 0;
  }

  .meeting__info {
    border: unset;
    max-width: unset;
  }

  .logo {
    padding: 0;
  }

  /* .selection__container,
  .info__block {
    max-width: 336px;
    padding: 16px calc(calc(100% - 336px) / 2) 0px;
  } */

  .selection__container {
    padding: 0;
    padding-top: 24px;
    width: 100%;
    max-width: 100%;
  }

  .info__block {
    border-bottom: 1px solid lightgray;
    row-gap: 8px;
  }

  .host__photo,
  .host__title {
    display: none;
  }

  .host__name,
  .meeting__type {
    text-align: center;
  }

  .calendar__title {
    align-self: center;
  }

  .calendar__title::before {
    content: 'Select a Day';
  }

  .calendar__wrap {
    margin-top: 0;
    width: 100%;
  }

  .time__container.enabled {
    margin: -24px 0 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
  }

  .time__wrap {
    max-height: calc(100vh - 75px - 24px - 32px);
    max-width: calc(100vw - 16px);
    padding: 16px;
  }

  .spinner__container {
    height: calc(100% - 75px - 24px);
    width: 100%;
  }

  .time__button-wrap,
  .time__button-confirm {
    width: 100%;
  }

  .time__info-wrap {
    text-align: center;
    border-bottom: 1px solid lightgray;
    overflow-y: scroll;
  }

  .time__info {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin: 24px;
  }

  .time__info-weekday {
    font-size: 24px;
    font-weight: bold;
  }

  .time__button-option,
  .time__button-confirm {
    width: 100%;
    min-width: calc(100% - 16px);
    max-width: calc(100% - 16px);
    height: 48px;
    font-size: 18px;
  }

  .time__button-option.selected {
    min-width: calc(50% - 16px);
  }

  .time__button-confirm {
    margin-right: 16px;
    min-width: calc(50% - 16px);
  }

  .mobile__duration {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    margin-bottom: 16px;
  }

  .details__wrap {
    width: 100vw;
    padding: 8px;
  }

  .input__wrap {
    width: calc(100% - 16px);
  }

  .event__scheduled {
    width: 100vw;
  }
}
